*{margin:0;padding:0;}
.bg{width:100%;max-width:1920px;height:auto;position: absolute;
  top: 0;}
.bg img{width:100%;}
.box{width:80%;max-width:1000px;height:500px;margin:auto;text-align:center;position: relative;margin-top: 300px;}
.jz{float:left;width:35%;height:auto;margin:auto;padding-left:200px;    margin-top: 65px;}
.jz p{line-height:80px;text-align:center;font-size:50px;color:#ffffff;}
.jz span{display: block;width:70%;height:40px;line-height:40px;margin:20px 0;text-align:left;font-size:30px;background: #ffffff;}
.start,.stop{width:200px;height:80px;line-height:80px;text-align:center;font-size:64px;border-radius:10px;margin:auto;color:#ffffff;cursor: pointer;}
.start{background: #24ADD7;}
.stop{background: #FC6666;}

.zjmd{float:left;width:25%;height: auto;background: #666;margin-top:82px;margin-left:30px;background: #ffffff;overflow: hidden;}
.zjmd .p1{line-height:40px;text-align:center;font-size:20px;padding:0;}
.zjmd p{line-height:30px;text-align:left;text-align:justify;padding-left:30px;}
